name: winbuild
on: [push]

jobs:
  vcpkg:
    name: Build for Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
    env:
      VCPKG_ROOT: 'C:/vcpkg'
      CMAKE_BUILD_DIR: C:/builddir/
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Bootstrap vcpkg
        run: |
          git clone https://github.com/m-kuhn/vcpkg.git "${{ env.VCPKG_ROOT }}"
          cd "${{ env.VCPKG_ROOT }}"
          git checkout qgis
          .\bootstrap-vcpkg.bat

# TODO
#      - name: Cache
    
      # Target x64 and use the default Windows SDK
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Install dependencies and generate project files
        run: |
          cmake -S "${{ github.workspace }}" -B "${{ env.CMAKE_BUILD_DIR }}" -GNinja -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"

      - name: Build
        run: |
          cmake --build "${{ env.CMAKE_BUILD_DIR }}"